generate-readme.zsh
!8points.png
!branches100.png
!branches256.png
!branches512.png
!burningship.png
!connected.png
!coral.png
!elephants.png
!enhance.png
!fulljulia.png
!hourglass.png
!invalid.png
!lace-curtians.png
!lakes.png
!leaf.png
!mandelbrot.png
!mandelbrot-zoomed.png
!mandelfour.png
!mandelthree.png
!minibrot.png
!rabbit-hole.png
!seahorse.png
!spiral0.png
!spiral1.png
!spiral-jetty.png
!starfish.png
!tip0.png
!tip1.png
!tip2.png
!tip3.png
!tip4.png
!unconnected.png
!wholly-squid.png
